@import 'defs/*'


footer
	background color_text_lighter
	font-size font_size_m

	#footer-content
		padding 1em

		.logo
			margin 0

	#bottomline
		background color_text_lightest
		color color_text_medium
		font-size font_size_s
		padding 1em

	#credits
		p
			margin 0
