@import 'kouto-swiss'
@import 'defs/*'


header-height = 74px


#main-header
	background: color_text_lighter
	fixed: 0 false false 0
	size: 100% header-height
	z-index: 1

	> div
		position: relative

	.logo img
		height: header-height * (3/5)
		margin: ((header-height - @height) * (1/2)) 0

	.main-nav
		absolute: 50% 0px false false
		transform: translateY(-50%)

		li
			display: inline

		a:not(.button)
			button(color: transparent, hovercolor: rgba(black, 0.1))
			color: color_text_dark !important


// Compensate the header height over page contents
body
	margin-top: header-height !important
