@import 'defs/colors'

header-height = 75px

body
	padding-top header-height

header
	item-height = 52px

	background color_text_lighter
	display block
	position fixed
	z-index 1
	width 100%
	height header-height
	line-height header-height
	top 0
	left 0

	.logo
		margin 0 1em
		display block
		float left

		img
			margin-top ( ( header-height - item-height ) / 2 )

	nav
		float right
		margin 0 1em 0 0

		ul
			li
				display inline-block
				vertical-align middle

				a
					color color_text_medium !important
					padding 0 1em
					height 48px
					line-height 48px
					display block

					&.button
						button()
