{% load compressed %}
{% load static %}


<!doctype html>
<html xmlns:og="http://ogp.me/ns#">
	<head>
	{% block head %}
		<title>{% block title %}{% endblock title %} | Brasil.com.vc</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		{% block opengraph %}
			<meta property="og:title" content="Brasil.com.vc">
			<meta property="og:type" content="website">
			<meta property="og:url" content="{{ request.build_absolute_uri }}">
			<meta property="og:image" content="{% static 'img/logo_opengraph.png' %}">
		{% endblock opengraph %}

		{% block css %}
			{% compressed_css 'common' %}
			{% compressed_css 'accounts' %}
			{% compressed_css 'guideline' %}
		{% endblock css %}
	{% endblock head %}
		<link rel="icon" href="{% static 'img/favicon.ico' %}">
	</head>

	<body class="{% block body_classes %}{% endblock body_classes %}">
		{% block header %}
		<header id="main-header">
			{% block header_content %}
				{% include 'header.html' %}
			{% endblock header_content %}
		</header>
		{% endblock header %}

		{% block messages %}
		<section id="messages">
			<ul>
			{% for message in messages %}
				<li class="message {{ message.tags }}">{{ message }}</li>
			{% endfor %}
			</ul>
		</section>
		{% endblock messages %}

		{% block content %}
		<section id="main-content">
			{% block content_content %}
			{% endblock content_content %}
		</section>
		{% endblock content %}

		{% block footer %}
		<footer id="main-footer">
			{% block footer_content %}
				{% include 'footer.html' %}
			{% endblock footer_content %}
		</footer>
		{% endblock footer %}

		{% block js %}
			{# 3rd parties #}
			{% if FACEBOOK_API_KEY %}<script src="//connect.facebook.net/pt_BR/sdk.js#xfbml=1&amp;appId={{ FACEBOOK_API_KEY }}&version=v2.0"></script>{% endif %}
			{% if GOOGLE_API_KEY %}<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&amp;libraries=places&amp;language=pt-br"></script>{% endif %}

			{% if GOOGLE_ANALYTICS_ID %}
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', '{{ GOOGLE_ANALYTICS_ID }}', 'auto');
				ga('require', 'displayfeatures');
				ga('send', 'pageview');
			</script>
			{% endif %}

			<script>STATIC_URL = '{% get_static_prefix %}'</script>
			{% compressed_js '3rdparty' %}
			{% compressed_js 'common' %}
			{% compressed_js 'accounts' %}
		{% endblock js %}
	</body>
</html>
