{% load compressed %}
{% load static %}


<!doctype html>
<html>
	<head>
	{% block head %}
		<title>{% block title %}{% endblock title %} | Brasil.com.vc</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

		{% block css %}
			{% compressed_css 'common' %}
			{% compressed_css 'accounts' %}
			{% compressed_css 'guideline' %}
		{% endblock css %}
	{% endblock head %}
		<link rel="icon" href="{% static 'img/favicon.ico' %}">
	</head>

	<body class="{% block body_classes %}{% endblock body_classes %}">
		{% block header %}
		<header id="main-header">
			{% block header_content %}
				{% include 'header.html' %}
			{% endblock header_content %}
		</header>
		{% endblock header %}

		{% block messages %}
		<section id="messages">
			<ul>
			{% for message in messages %}
				<li class="message {{ message.tags }}">{{ message }}</li>
			{% endfor %}
			</ul>
		</section>
		{% endblock messages %}

		{% block content %}
		<section id="main-content">
			{% block content_content %}
			{% endblock content_content %}
		</section>
		{% endblock content %}

		{% block footer %}
		<footer id="main-footer">
			{% block footer_content %}
				{% include 'footer.html' %}
			{% endblock footer_content %}
		</footer>
		{% endblock footer %}

		{% block js %}
			{% if FACEBOOK_API_KEY %}
				<script src="//connect.facebook.net/pt_BR/sdk.js#xfbml=1&amp;appId={{ FACEBOOK_API_KEY }}&version=v2.0"></script>
			{% endif %}

			<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}"></script>

			{% compressed_js '3rdparty' %}
			{% compressed_js 'common' %}
			{% compressed_js 'accounts' %}
		{% endblock js %}
	</body>
</html>
