{% load static %}


<section id="footer-content">
<div>
	<p class="logo">
		<img alt="Logo do Brasil.com.vc" src="{% static 'img/logo-s.png' %}">
	</p>
	<section id="sitemap">
		<div>
			<h1>Brasil.com.vc</h1>
			<ul>
				<li><a href="{% url 'portal:about' %}">Sobre</a></li>
				<li><a href="{% url 'portal:how_it_works' %}">Como Funciona</a></li>
			</ul>
		</div>
	</section>
</div>
</section>

<section id="bottomline">
	<div>
		<p class="copyright">Copyright 2014 - Todos os Direitos Reservados a Brasil.com.vc - Mantido por <strong>The Brand Machine</strong></p>
	</div>
</section>
