{% load static %}


<div>
	<a href="" class="logo">
		<img src="{% static 'img/logo.png' %}" alt="Brasil.Com.Vc">
 	</a>
 	<nav class="main-nav">
		<ul>
		{% if request.user.is_authenticated %}
			<li><a href="{% url 'accounts:edit_dashboard' %}">Minha Conta</a></li>
			<li><a href="{% url 'accounts:logout' %}">Logout</a></li>
		{% else %}
			<li><a class="proceed" href="{% url 'accounts:signup' %}">Cadastre-se</a></li>
			<li><a href="{% url 'accounts:login' %}">Login</a></li>
		{% endif %}
		</ul>
 	</nav>
</div>
