{% load static %}


<div>
	<a href="{% url 'projects:project_list' %}" class="logo">
		<img src="{% static 'img/logo.png' %}" alt="Brasil.Com.Vc">
 	</a>
 	<nav class="main-nav">
		<ul>
			<li><a href="{% url 'projects:project_list' %}">Projetos</a></li>
			<li><a href="{% url 'portal:how_it_works' %}">Como Funciona</a></li>
		{% if request.user.is_authenticated %}
			<li><a href="{% url 'accounts:edit_dashboard' %}">Minha Conta</a></li>
			<li><a href="{% url 'accounts:logout' %}">Logout</a></li>
			<li>
				{% include 'widgets/user-picture.html' with user=request.user size='small' %}
			</li>
		{% else %}
			<li><a class="proceed" href="{% url 'accounts:signup' %}">Cadastre-se</a></li>
			<li><a href="{% url 'accounts:login' %}">Login</a></li>
		{% endif %}
		</ul>
 	</nav>
</div>
