{% extends 'projects/base.html' %}
{% load form_utils %}


{% block title %}
	Participar do projeto
{% endblock title %}


{% block body_classes %}
	{{ block.super }} project-apply
{% endblock body_classes %}


{% block content_content %}
<section id="content">
	<h1>Participar do projeto</h1>
	<p>Você está se inscrevendo no projeto <strong>{{ project.name }}</strong>.</p>

	<form method="POST">
		{% form_full form %}
		<button type="submit">Participar</button>
	</form>
</section>
{% endblock content_content %}
