{% extends 'projects/base.html' %}
{% load firstof from future %}


{% block title %}
	{{ project.name }}
{% endblock title %}


{% block body_classes %}
	{{ block.super }} project-details
{% endblock body_classes %}


{% block content_content %}
	<header class="page-title">
		<h1>{{ project.name }}</h1>
	</header>

	<section class="page-content" id="main-info">
		{% if project.img %}
		<figure class="img"
		{% if project.video %}data-video="{{ project.video }}"{% endif %}>
			<img id="project-video" src="{{ project.img.url }}" alt="imagem do {{ project.name }}">
		</figure>
		{% endif %}

		<blockquote class="relevant-fact">
			{{ project.relevant_fact|linebreaks }}
		</blockquote>
		<section class="about">
			<h1>Sobre o projeto</h1>
			{{ project.about|linebreaks }}
		</section>
		<section class="how-to-help">
			<h1>Como ajudar</h1>
			{{ project.how_to_help|linebreaks }}
		</section>
		<section class="requirements">
			<h1>Requisitos</h1>
			{{ project.requirements|linebreaks }}
		</section>
	</section>

	<section class="page-content" id="extra-info">
		<section class="short-description">
			<h1>Resumo</h1>
			{% firstof project.short_description|linebreaks project.about|truncatechars:200 %}
		</section>
		<section class="tags">
			<ul>
			{% for tag in project.tags.all %}
				<li>{{ tag.name }}</li>
			{% endfor %}
			</ul>
		</section>
		<section class="apply">
			<p>
				<a class="button" href="{% url 'projects:project_apply' slug=project.slug %}">Participar</a>
			</p>
			{% with applications=project.applications.all %}
				{% if applications %}
					<p><strong>{{ applications|length }}</strong> pessoas estão participando.</p>
				{% else %}
					<p>Ninguém participando ainda. :(</p>
				{% endif %}
			{% endwith %}
		</section>
		<section class="owner">
			<h1>Organizador</h1>
			{{ project.owner.get_full_name }}
		</section>
		<section class="agenda">
			<h1>Agenda</h1>
			{{ project.agenda|linebreaks }}
		</section>
	</section>
{% endblock content_content %}


{% block js %}
	{{ block.super }}
	<script src="//www.youtube.com/iframe_api"></script>
{% endblock js %}
