{% extends 'projects/base.html' %}
{% load firstof from future %}


{% block title %}
	{{ project.name }}
{% endblock title %}


{% block body_classes %}
	{{ block.super }} project-details
{% endblock body_classes %}


{% block content_content %}
<section id="content">
	<h1>{{ project.name }}</h1>

	<section id="main-info">
		<blockquote class="relevant-fact">
			{{ project.relevant_fact|linebreaks }}
		</blockquote>
		<section class="about">
			<h1>Sobre o projeto</h1>
			{{ project.about|linebreaks }}
		</section>
		<section class="how-to-help">
			<h1>Como ajudar</h1>
			{{ project.how_to_help|linebreaks }}
		</section>
		<section class="requirements">
			<h1>Requisitos</h1>
			{{ project.requirements|linebreaks }}
		</section>
	</section>

	<section id="extra-info">
		<section class="short-description">
			<h1>Resumo</h1>
			{% firstof project.short_description|linebreaks project.about|truncatechars:200 %}
		</section>
		<section class="tags">
			<ul>
			{% for tag in project.tags.all %}
				<li>{{ tag.name }}</li>
			{% endfor %}
			</ul>
		</section>
		<section class="owner">
			<h1>Organizador</h1>
			{{ project.owner.get_full_name }}
		</section>
	</section>
</section>
{% endblock content_content %}
