{% extends 'projects/base.html' %}
{% load firstof from future %}


{% block title %}
	{{ project.name }}
{% endblock title %}


{% block body_classes %}
	{{ block.super }} project-details
{% endblock body_classes %}


{% block content_content %}
	<section class="page-content" id="main-info">
		{% if project.img %}
		<figure class="img"
		{% if project.video %}data-video="{{ project.video }}"{% endif %}>
			<img id="project-video" src="{{ project.img.url }}" alt="imagem do {{ project.name }}">
		</figure>
		{% endif %}

		{% if project.relevant_fact %}
		<blockquote class="relevant-fact">
			<strong class="title">Você sabia?</strong>
			{{ project.relevant_fact }}
		</blockquote>
		{% endif %}

		<section class="about">
			<h1>Sobre o projeto</h1>
			{{ project.about|linebreaks }}
		</section>
		<section class="how-to-help">
			<h1>Como ajudar</h1>
			{{ project.how_to_help|linebreaks }}
		</section>
		{% if project.requirements %}
		<section class="requirements">
			<h1>Requisitos</h1>
			{{ project.requirements|linebreaks }}
		</section>
		{% endif %}
		<section class="comments">
			<h1>Comentários</h1>
			<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
		</section>
	</section>

	<section class="page-content" id="extra-info">

		<h1 class="name">{{ project.name }}</h1>

		<section class="short-description">
			{% firstof project.short_description|linebreaks project.about|truncatechars:200 %}
		</section>
		<section class="tags">
			<ul>
			{% for tag in project.tags.all %}
				<li>{{ tag.name }}</li>
			{% endfor %}
			</ul>
		</section>
		<section class="apply">
			<p>
				<a class="button" href="{% url 'projects:project_apply' slug=project.slug %}">Quero participar</a>
			</p>
			{% with applications=project.applications.all %}
				<p class="applications">
				{% if applications %}
					<strong>{{ applications|length }}</strong> pessoa{{ applications|length|pluralize }} est{{ applications|length|pluralize:"á,ão" }} participando.
				{% else %}
					Ninguém participando ainda. :(
				{% endif %}
				</p>
			{% endwith %}
		</section>
		<section class="owner">
			<h1>Organizador</h1>
			{% include 'widgets/user-picture.html' with user=project.owner size='small' %}
			{{ project.owner.get_full_name }}
		</section>
		<section class="agenda">
			<h1>Agenda</h1>
			{{ project.agenda|linebreaks }}
		</section>
		<section class="location">
			<h1>Local</h1>
			{{ project.location }}
		</section>
	</section>
{% endblock content_content %}


{% block content %}
	{{ block.super }}
	{% if GOOGLE_API_KEY %}
	<section class="map">
		<iframe width="100%" frameborder="0" style="border:0"
			src="https://www.google.com/maps/embed/v1/place?
				q={{ project.address|urlencode }}&amp;
				key={{ GOOGLE_API_KEY }}
			"></iframe>
	</section>
	{% endif %}
{% endblock content %}

{% block js %}
	{{ block.super }}
	<script src="//www.youtube.com/iframe_api"></script>
{% endblock js %}
