{% extends 'projects/base.html' %}
{% load firstof from future %}


{% block title %}
	Projetos
{% endblock title %}


{% block body_classes %}
	{{ block.super }} project-list
{% endblock body_classes %}


{% block content_content %}
	<header class="page-title">
		<h1>Projetos</h1>
	</header>

	<section class="page-content">
		<ul>
		{% for project in project_list %}
			<li class="project">
				{% include 'widgets/project.html' %}
			</li>
		{% empty %}
			<p>Nenhum projeto disponível. :(</p>
		{% endfor %}
		</ul>
	</section>
{% endblock content_content %}
