{% extends 'projects/base.html' %}
{% load form_utils %}


{% block title %}
	Participar do projeto
{% endblock title %}


{% block body_classes %}
	{{ block.super }} project-apply
{% endblock body_classes %}


{% block content_content %}
	<header class="page-title">
		<h1>
			<small>Participar do projeto</small>
			<strong>{{ project.name }}</strong>
		</h1>
	</header>

	<section class="page-content">
		<form method="POST">
			{% form_full form %}
			<button class="proceed" type="submit">Participar</button>
		</form>

		<section class="requirements">
			<h1>Requisitos</h1>
			{% if project.requirements %}
				{{ project.requirements|linebreaks }}
			{% else %}
				Nada especificado no projeto.
			{% endif %}
		</section>
	</section>
{% endblock content_content %}
