{% extends 'projects/base.html' %}
{% load firstof from future %}
{% load static %}


{% block title %}
	Projetos
{% endblock title %}


{% block body_classes %}
	{{ block.super }} project-list
{% endblock body_classes %}


{% block header %}
{{ block.super }}
	{% if banner %}
	<section id="home-banner">
		<figure>
			{% if banner.video %}
				<video autoplay loop>
					<source src="{{ banner.video.url }}">
					<img src="{{ banner.image.url }}" alt="banner">
				</video>
			{% else %}
				<img src="{{ banner.image.url }}" alt="banner">
			{% endif %}

			<figcaption>
				<div>{{ banner.content|safe }}</div>

				<form id="project_search" action="{% url 'projects:project_search' %}" method="GET">
					{# XXX: these fields must always init empty so our JS work properly #}
					<input type="hidden" name="lat">
					<input type="hidden" name="lng">
					<label id="projectsearchform_q">
						<input type="text" name="q" placeholder="Digite seu endereço, CEP ou Cidade">
					</label>
					<button type="submit">Procurar</button>
				</form>
			</figcaption>
		</figure>
	</section>
	{% endif %}
{% endblock header %}


{% block content_content %}
	<header class="page-title">
		<h1>Projetos</h1>
	</header>

	<section class="page-content">
		<ul>
		{% for project in project_list %}
			<li class="project">
				{% include 'widgets/project.html' %}
			</li>
		{% empty %}
			<p>Nenhum projeto disponível. :(</p>
		{% endfor %}
		</ul>
	</section>
{% endblock content_content %}
