body.accounts.edit

	#edit-links a
		button(color: transparent, hovercolor: transparent)
		color: color_text_medium
		display: block
		text-align: left

		&:hover
			color: color_text_darker

		&.active
			font-weight: bold
