{% extends 'emails/base.html' %}


{% block body %}
	<h1 style="color: #7fc241;">Parabéns, {{ volunteer.get_short_name }}!</h1>
	<p>
		Você se inscreveu no projeto <strong>{{ project.name }}</strong>. Em
		breve você receberá o contato do organizador do projeto explicando como
		você deve agir para ajuda-lo.
	</p>
	<p style="text-align: center;">
		<a href="{{ site_url }}{{ project.get_absolute_url }}" style="background: #0a8dc6; color: #fff; display: inline-block; font-size: 1em; padding: 1em; text-decoration: none;">Visualizar projeto</a>
		<a href="mailto:{{ project.owner.email }}" style="background: #69ae29; color: #fff; display: inline-block; font-size: 1em; padding: 1em; text-decoration: none; letter-spacing: 0.025em;">Falar com o organizador</a>
	</p>
{% endblock body %}
