body.projects

	figure.img
		overflow: hidden

		img
			float: left
			width: 100%

	.tags
		ul li
			background: color_text_darker
			color: color_text_lighter
			display: inline-block
			font-size: font_size_s
			padding: 0.5em
