body.projects.project-list #main-content

	li.project
		box-shadow: inset 0 0 0 1px color_text_lighter
		padding: 1rem

		a
			color: color_text_dark
			text-decoration: none

		figure
			font-size: 0
			margin: -1rem
			margin-bottom: 1rem

		.tags
			&, *
				margin-bottom: 0
