body.projects.project-list

	#home-banner figure
		color: color_text_darkest
		font-size: 1.25em
		overflow: hidden
		position: relative

		img
		video
			min-height: 100%
			min-width: 100%

		figcaption
		img
		video
			absolute: 50% false false 50%
			transform: translate(-50%, -50%)

		figcaption
			text-align: center

			h1
				font-size: 1.5em

			> div
				margin: 1em

				*
					margin-bottom: 0.5em

			#project_search
				clearfix()
				margin-bottom: 1em
