body.projects.project-list

	.page-title h1
		font-size: 2em !important

	#home-banner figure
		color: color_text_darkest
		font-size: 1.25em
		overflow: hidden
		position: relative

		img
		video
			height: 100%
			min-width: 100%

		figcaption
		img
		video
			absolute: 50% false false 50%
			transform: translate(-50%, -50%)

		figcaption
			text-align: center

			h1
				font-size: 1.5em

			> div
				color: color_text_dark
				font: bold 1.2em 'Merriweather'
				margin: 1em

				*
					margin-bottom: 0.5em

			#project_search
				clearfix()
				margin-bottom: 1em

				#projectsearchform_q
					margin-right: 0 !important

				button[type="submit"]
					font-size: 0
					margin-left: 0 !important
					position: relative

					&:after
						absolute: 0 0 0 0
						background: url('glyphs/magnifier.png') no-repeat center
						background-size: 2rem
						content: ''
