@require 'kouto-swiss'
@require 'defs/*'


+media-query(only screen)
	@import 'res-common/*'

+media-query(breakpoint_smartphone)
	gs('fluid', 4, 17%)
	@import 'res-smartphone/*'

+media-query(breakpoint_tablet)
	gs('fluid', 8, 10%)
	@import 'res-tablet/*'

+media-query(breakpoint_desktop)
	gs('fixed', 12, 50px, 30px)
	@import 'res-desktop/*'
