{% extends 'base.html' %}
{% load form_utils %}


{% block title %}
	User Interface Guidelines
{% endblock title %}


{% block body_classes %}
	common ui
{% endblock body_classes %}


{% block content_content %}
	<header>
		<h1>Brasil.com.vc</h1>
		<span>Diretrizes de Interface</span>
	</header>

	<section id="form-widgets">
		<h2>Widgets de form</h2>
		<div>
			{# Include one field #}
			{% form_field empty_form.search %}
			{% form_field empty_form.option_toggle %}
			{% form_field empty_form.option_toggle_disabled %}

			{# Include form fieldsets #}
			{% form_fieldset empty_form legend='Campos de texto' fields='email text text_disabled textarea search' %}
			{% form_fieldset empty_form legend='Campos de opção única' fields='one_choice_select one_choice_radio' %}
			{% form_fieldset empty_form legend='Campos de opção múltipla' fields='multi_choice_select multi_choice_checkboxes' %}
			{% form_fieldset empty_form legend='Datas e números' fields='date spin_number range_number' %}
		</div>
	</section>
	<section id="form-widgets-with-errors">
		<h2>Widgets de form (com erros)</h2>
		<div>
			{# Include one field #}
			{% form_field invalid_form.search %}
			{% form_field invalid_form.option_toggle %}
			{% form_field invalid_form.option_toggle_disabled %}

			{# Include form fieldsets #}
			{% form_fieldset invalid_form legend='Campos de texto' fields='email text text_disabled textarea search' %}
			{% form_fieldset invalid_form legend='Campos de opção única' fields='one_choice_select one_choice_radio' %}
			{% form_fieldset invalid_form legend='Campos de opção múltipla' fields='multi_choice_select multi_choice_checkboxes' %}
			{% form_fieldset invalid_form legend='Datas e números' fields='date spin_number range_number' %}
		</div>
	</section>
{% endblock content_content %}
