{% extends 'base.html' %}
{% load form_utils %}


{% block title %}
	User Interface Guidelines
{% endblock title %}


{% block body_classes %}
	guideline ui
{% endblock body_classes %}


{% block content_content %}
	<header>
		<h1>Brasil.com.vc</h1>
		<span>Diretrizes de Interface</span>
	</header>

	<section id="color-palette">
		<h1>Paleta de Cores</h1>
		<div>
			<ul>
				<li class="blue_color_disabled">#bde9fc / color_main1_disabled</li>
				<li class="blue_color_light">#5bc9f9 / color_main1_light</li>
				<li class="blue_color_default">#27a9e1 / color_main1_default</li>
				<li class="blue_color_dark">#0a8dc6 / color_main1_dark</li>
			</ul>
			<ul>
				<li class="green_color_disabled">#d9edc9 / color_main2_disabled</li>
				<li class="green_color_light">#a6d97e / color_main2_light</li>
				<li class="green_color_default">#7fc241 / color_main2_default</li>
				<li class="green_color_dark">#69ae29 / color_main2_dark</li>
			</ul>
			<ul>
				<li class="yellow_color_disabled">#fdfbce / color_main3_disabled</li>
				<li class="yellow_color_light">#fef99c / color_main3_light</li>
				<li class="yellow_color_default">#fff100 / color_main3_default</li>
				<li class="yellow_color_dark">#cdc329 / color_main3_dark</li>
			</ul>
			<ul>
				<li class="red_color_disabled">#f7d2ca / color_main4_dark</li>
				<li class="red_color_light">#e06c55 / color_main4_dark</li>
				<li class="red_color_default">#cc492f / color_main4_dark</li>
				<li class="red_color_dark">#ba371d / color_main4_dark</li>
			</ul>
			<ul>
				<li class="greyscale_color0">#fff / color_text_lightest</li>
				<li class="greyscale_color1">#f2f2f2 / color_text_lighter</li>
				<li class="greyscale_color2">#d3d3d3 / color_text_light</li>
				<li class="greyscale_color3">#7a7a7a / color_text_medium</li>
				<li class="greyscale_color4">#505050 / color_text_dark</li>
				<li class="greyscale_color5">#3b3b3b / color_text_darker</li>
				<li class="greyscale_color6">#101010 / color_text_darkest</li>
			</ul>
		</div>
	</section>

	<section id="form-widgets">
		<h1>Widgets de form</h1>
		<div>
			{# Include one field #}
			{% form_field empty_form.search %}
			{% form_field empty_form.option_toggle %}
			{% form_field empty_form.option_toggle_disabled %}

			{# Include form fieldsets #}
			{% form_fieldset empty_form legend='Campos de texto' fields='email text text_disabled textarea search' %}
			{% form_fieldset empty_form legend='Campos de opção única' fields='one_choice_select one_choice_radio' %}
			{% form_fieldset empty_form legend='Campos de opção múltipla' fields='multi_choice_select multi_choice_checkboxes' %}
			{% form_fieldset empty_form legend='Datas e números' fields='date spin_number range_number' %}
		</div>
	</section>

	<section id="form-widgets-with-errors">
		<h1>Widgets de form (com erros)</h1>
		<div>
			{# Include one field #}
			{% form_field invalid_form.search %}
			{% form_field invalid_form.option_toggle %}
			{% form_field invalid_form.option_toggle_disabled %}

			{# Include form fieldsets #}
			{% form_fieldset invalid_form legend='Campos de texto' fields='email text text_disabled textarea search' %}
			{% form_fieldset invalid_form legend='Campos de opção única' fields='one_choice_select one_choice_radio' %}
			{% form_fieldset invalid_form legend='Campos de opção múltipla' fields='multi_choice_select multi_choice_checkboxes' %}
			{% form_fieldset invalid_form legend='Datas e números' fields='date spin_number range_number' %}
		</div>
	</section>
{% endblock content_content %}
