@import 'defs/colors'


body.guideline.ui

	section#color-palette

		font-family monospace

		ul
			list-style none
			display table
			width 100%

		li
			border 1px solid white
			color color_text_lightest
			display table-cell
			padding 1em
			text-align center
			text-shadow 1px 1px 0 black

			*
				display block

		.blue_color_disabled
			background color_main1_disabled

		.blue_color_light
			background color_main1_light

		.blue_color_default
			background color_main1_default

		.blue_color_dark
			background color_main1_dark

		.green_color_disabled
			background color_main2_disabled

		.green_color_light
			background color_main2_light

		.green_color_default
			background color_main2_default

		.green_color_dark
			background color_main2_dark

		.yellow_color_disabled
			background color_main3_disabled

		.yellow_color_light
			background color_main3_light

		.yellow_color_default
			background color_main3_default

		.yellow_color_dark
			background color_main3_dark

		.red_color_disabled
			background color_main4_disabled

		.red_color_light
			background color_main4_light

		.red_color_default
			background color_main4_default

		.red_color_dark
			background color_main4_dark

		.greyscale_color1
			background color_text_lighter

		.greyscale_color2
			background color_text_light

		.greyscale_color3
			background color_text_medium

		.greyscale_color4
			background color_text_dark

		.greyscale_color5
			background color_text_darker

		.greyscale_color6
			background color_text_darkest
