// Blue Palette
color_main1_disabled = #bde9fc
color_main1_light = #5bc9f9
color_main1_default = #27a9e1
color_main1_dark = #0a8dc6


// Green Palette
color_main2_disabled = #d9edc9
color_main2_light = #a6d97e
color_main2_default = #7fc241
color_main2_dark = #69ae29


// Yellow Palette
color_main3_disabled = #fdfbce
color_main3_light = #fef99c
color_main3_default = #fff100
color_main3_dark = #cdc329


// Red Palette
color_main4_disabled = #f7d2ca
color_main4_light = #e06c55
color_main4_default = #cc492f
color_main4_dark = #ba371d


// Text colors (grayscale)
color_text_lightest = #fff
color_text_lighter = #f2f2f2
color_text_light = #d3d3d3
color_text_medium = #7a7a7a
color_text_dark = #505050
color_text_darker = #3b3b3b
color_text_darkest = #101010
