@import 'defs/*'


$button
	border 0
	color color_text_lightest !important
	cursor pointer
	display inline-block
	font-family font_family_sans
	font-size font_size_m
	font-weight 100
	padding 0 1em
	vertical-align middle
	text-decoration none !important

	&[disabled]
		background color_text_lighter
		color color_text_light !important
		cursor default
		text-decoration none !important

button(color = color_main1_default, hovercolor = color_main1_dark, size = 'default')
	@extend $button
	background color

	&:not([disabled]):hover
		background hovercolor

	if ( size == 'default' )
		size = 48px

	if ( size == 'small' )
		size = 38px

	height size
	line-height size

	&.danger
		background color_main4_default

		&:hover
			background color_main4_dark

	&.proceed
		background color_main2_default

		&:hover
			background color_main2_dark

	&.facebook
		background color_facebook
		color color_text_lightest !important

		&:hover
			background darken(color_facebook, 15%)
