{% extends 'base.html' %}


{% block title %}
	Sobre
{% endblock title %}


{% block body_classes %}
	portal about
{% endblock body_classes %}


{% block content_content %}
	<header>
		<h1>Quem Somos</h1>
		<h2>O Brasil.com.vc é uma plataforma digital que une pessoas que querem
		ajudar, com projetos que estão mudando o Brasil.</h2>
	</header>
	<section id="content">
		<blockquote>A ponte que faltava entre o seu projeto e a quem quer
		ajudar.</blockquote>

		<p>O <strong>Brasil.com.vc</strong> é um portal criado para conectar
		quem tem um projeto e está procurando voluntários e para quem quer ser
		voluntário e está procurando um projeto. Somos uma ponte entre quem
		quer ajudar e quem sabe como ajudar.</p>

		<p><strong>Se você é uma ONG</strong> ou tem um projeto para fazer o
		bem, somos uma forma de recrutar pessoas que pensam como você e querem
		botar a mão na massa.</p>

		<p><strong>Se você é um usuário</strong>, somos uma forma de encontrar
		projetos e ONGs do seu interesse, na sua região, e com projetos que
		precisam de ajuda nos dias que você tem disponíveis. Somos a forma
		inteligente de ajudar.</p>
	</section>
{% endblock content_content %}
