{% extends 'base.html' %}


{% block title %}
	Como Funciona
{% endblock title %}


{% block body_classes %}
	portal how-it-works
{% endblock body_classes %}


{% block content_content %}
	<header>
		<h1>Como Funciona</h1>
		<h2>Nosso objetivo é intermediar pessoas que desejam criar ou participar
		de projetos sociais</h2>
	</header>
	<section id="content">
		<h1>Se você quer criar um projeto social</h1>

		<p>Por enquanto os projetos estão sendo selecionados, então para que o
		seu projeto esteja presente no portal, entre em contato pelo email
		<a href="mailto:contato@brasil.com.vc">contato@brasil.com.vc</a> e nos
		conte um pouco sobre o seu projeto.</p>

		<p>Nós vamos entrar em contato te ajudar a ter o melhor conteúdo
		possivel no portal.</p>

		<h1>Se você quer participar de um projeto social</h1>

		<p>Crie um perfil para você. Quanto mais completo seu perfil, melhor
		podemos te recomendar projetos do seu interesse.</p>

		<p>Veja os nossos projetos, eles foram selecionados para que você possa
		ajudar a quem realmente precisa e está fazendo a diferença na
		comunidade.</p>

		<p>Encontrou um projeto interessante? Clique em "quero participar" e
		aguarde o contato do organizador. Daí pra frente é com vocês, mão na
		massa e boa sorte.</p>
	</section>
{% endblock content_content %}
