// Families
font_family_serif = 'Merriweather', serif
font_family_sans = 'Merriweather Sans', sans-serif


// Sizes
font_size_main = 0.875em


// Proportional sizes; uses perfect fourth modular scale
// http://kouto-swiss.io/docs.html#modular-scale
font_size_s = modular-scale(1em, -1, ks-perfect-fourth)
font_size_m = modular-scale(1em, 0, ks-perfect-fourth)
font_size_l = modular-scale(1em, 1, ks-perfect-fourth)
font_size_xl = modular-scale(1em, 2, ks-perfect-fourth)
font_size_xxl = modular-scale(1em, 4, ks-perfect-fourth)
