{% extends "base.html" %}
{% load form_utils %}

{% block title %}
	Ajude-nos a melhorar
{% endblock title %}


{% block body_class %}
	{{ block.super }} feedback
{% endblock body_class %}


{% block content_content %}
	<header class="page-title">
		<h1>Ajude-nos a melhorar!</h1>
	</header>

	<section class="page-content">
		<p>Conte pra gente quais foram os motivos que te levaram a apagar sua
		conta! Utilizaremos estes dados para melhorar nosso serviço. As
		informações preenchidas aqui são enviadas anonimamente.</p>

		<form method="POST">
			{% form_full form %}
			<button type="submit">Enviar</submit>
		</form>
	</section>
{% endblock content_content %}
