html
	font-size font_size_main


body
	color color_text_dark
	font-family: font_family_sans
	font-weight: lighter
	line-height: 1.45

em
	font-style: italic

strong
	font-weight: bold

a[href]
	color color_main1_default
	text-decoration none

	&:hover
		text-decoration underline

blockquote
	background: color_text_lighter
	border-left: 4px solid color_main2_default
	padding: 1em

	strong.title
		color: color_main2_default
		display: block
		font-size: font_size_l
		font-weight: lighter
		margin-bottom: 0.5em


section#messages
	padding-top: 1em

	.message
		background: color_main1_disabled
		border: 1px solid color_main1_default
		color: color_main1_dark
		margin-bottom: 1em
		padding: 1em

	.success.message
		background: color_main2_disabled
		border-color: color_main2_default
		color: color_main2_dark

	.warning.message
		background: color_main3_disabled
		border-color: color_main3_default
		color: color_main3_dark

	.error.message
		background: color_main4_disabled
		border-color: color_main4_default
		color: color_main4_dark


section#main-content
	padding: 2rem 0

	.page-title
		margin-bottom: 3rem
		text-align: center

		// Pull things together
		> *
			margin-bottom: 0

		h1
			font-size: font_size_xxl

		h2, p
			color: color_text_medium
			font-size: font_size_m

	.page-content
		h1
			font-size: font_size_xl

		dl dt
			font-weight: normal

		figure, form, section
			margin-bottom: 2em

		blockquote, dl, dd, p, ul, li
			font-size: font_size_m
			margin-bottom: 1em

		dt, h1, h2
			margin-bottom 0.5em

		button
		a.button
			button()

	.page-content:not(:last-child)
		margin-bottom: 2em
