html
	font-size font_size_main


body
	color color_text_dark
	font 300 1rem font_family_sans


#main-content
	padding 2rem 0

	h1
		font font_size_xxxl font_family_sans

	section h1
		font-size font_size_xxl

	a[href]
		color color_main1_default
		text-decoration none

		&:hover
			text-decoration underline

	button
	a.button
		button()

	dl dt
		font-weight 400

	form
		margin-bottom: 2em

	p
	dl dd
	ul
	ul li
		margin-bottom 1em

	h1
	dl dt
		margin-bottom 0.5em
