footer#main-footer
	clear: both
	font-size: font_size_m

	> section
		padding 1em 0

	button
	a.button
		button()

	#footer-content
		background: color_text_lighter

		p.logo
			col(2)

		#sitemap
			ul
				col(3)

			a
				color: color_text_darker

	#bottomline
		background: color_text_lightest
		color: color_text_medium
		font-size: font_size_s
