footer#main-footer
	clear: both
	font-size: font_size_m

	> section
		padding 1em 0

	button
	a.button
		button()

	#footer-content
		background: color_text_lighter

	#bottomline
		background: color_text_lightest
		color: color_text_medium
		font-size: font_size_s
