footer#main-footer
	clear: both
	font-size: font_size_m

	> section
		padding 1em 0

	button
	a.button
		button()

	#footer-content
		background: color_text_lighter


// Sticky footer
html
	min-height: 100%
	position: relative

#main-footer
	position: absolute
	top: 100%
	width: 100%
