$text-input
	appearance: none
	background: color_text_lighter
	border: 1px solid color_text_light
	border-radius: 0
	color: color_text_medium
	height: 3.42rem
	font: 300 font_size_m font_family_sans
	size: 100% 3.42rem


form
	.errorlist
		color: color_main4_default

	label
		display: block
		margin-bottom: 1em

		> strong
		.helptext
			display: block
			margin-bottom: 0.5em

		> strong
		label
			cursor: pointer

		.helptext
			color: color_text_medium
			font-style: italic
			margin-top: -0.25em

		&.error
			input
			textarea
				border-color: color_main4_default

		.errorlist
			margin-top: 0.5em

	input
	select
	textarea
		outline: none

	input[type='date']
	input[type='email']
	input[type='number']
	input[type='password']
	input[type='search']
	input[type='text']
	select
	textarea
		@extend $text-input
		padding: 0 1rem

	select option
		padding: 0.5em

	textarea
		padding: 1rem

	input[type='checkbox']
		base-size = 1.4em

		appearance: none
		border: none
		margin: 0 0.5em 0 0
		position: relative
		size: (base-size * 2.4) base-size
		vertical-align: text-bottom

		&:before
		&:after
			content: ''
			display: inline-block

		&:before
			background: color_text_lighter
			border: 1px solid color_text_light
			size: (base-size * 2.4) base-size

		&:after
			absolute: 0 false false 0
			background: color_text_light
			box-shadow: 0 0 0 1px color_text_light
			cursor: pointer
			size: (base-size * 1.2) base-size
			transition: time_animation * 0.5

		&:checked:after
			background: color_main1_light
			box-shadow: 0 0 0 1px color_main1_light
			left: base-size * 1.2
