#main-header
	background: color_text_lighter
	box-shadow: 0 0 7px rgba(black, 0.4)
	border-bottom: 1px solid #fff
	fixed: 0 false false 0
	width: 100% !important
	z-index: 1

	> div
		height: 100%
		position: relative

	.logo img
		absolute: 50% false false false
		height: 70%
		transform: translateY(-50%)

	.main-nav a
		button(color: transparent, hovercolor: transparent )

		&:not(.proceed)
			color: color_text_medium

			&:hover
				color: color_text_darker
