#main-header
	background: color_text_lighter
	fixed: 0 false false 0
	width: 100%
	z-index: 1

	> div
		height: 100%
		position: relative

	.logo img
		absolute: 50% false false false
		height: 70%
		transform: translateY(-50%)
