{% extends "accounts/base.html" %}
{% load form_utils %}


{% block title %}
	Remover Conta
{% endblock title %}


{% block body_classes %}
	{{ block.super }} edit delete-user
{% endblock body_classes %}


{% block content_content %}
<section id="content">
	<h1>Excluir Conta</h1>
	<form action="{% url 'accounts:delete_user' %}" method="POST">
		<p>Tem certeza que deseja excluir sua conta?</p>
		<p>Esta ação é irreversível</p>

		{% form_full form %}

		<button type="submit">Eu tenho certeza</button>
		<a href="{% url 'accounts:profile' %}">Cancelar</a>
	</form>
</section>
{% endblock content_content %}
