{% extends "accounts/base.html" %}
{% load form_utils %}


{% block title %}Remover Conta{% endblock title %}


{% block body_classes %}{{ block.super }} delete-user{% endblock body_classes %}


{% block content_content %}
<form action="{% url 'delete_user' %}" method="POST">
    {% csrf_token %}
<section id="content">

    <h1>Tem certeza que deseja excluir sua conta?</h1>
    <h2>Esta ação é irreversível</h2>

    {% form_field form.password %}

    <button type="submit">Eu tenho certeza</button>
    <a href="{% url 'profile' %}">Cancelar</a>
</form>
</section>
{% endblock content_content %}
