{% extends "accounts/base.html" %}
{% load form_utils %}


{% block title %}
	Minha Conta - Informações Profissionais
{% endblock title %}


{% block body_classes %}
	{{ block.super }} edit edit_professional_info
{% endblock body_classes %}


{% block content_content %}
	<header class="page-title">
		<h1>Minha Conta - Informações Profissionais</h1>
	</header>

	<section class="page-content">
		<form method="POST">
			{% form_full form %}
			<button type="submit">Salvar Alterações</button>
		</form>
	</section>
{% endblock content_content %}
