{% extends "accounts/base.html" %}
{% load firstof from future %}


{% block title %}
	Minha Conta
{% endblock title %}


{% block body_classes %}
	{{ block.super }} edit_dashboard
{% endblock body_classes %}


{% block content_content %}
<section id="content">
	<header>
		<h1>Minha conta</h1>
	</header>

	<section id="personal_info">
		<h1>Informações Pessoais</h1>
		<dl>
			<dt>Nome</dt>
			<dd>{{ object.get_full_name }}</dd>

			<dt>Usuário</dt>
			<dd>{% firstof object.username 'Não configurado' %}</dd>

			<dt>E-mail</dt>
			<dd>{{ object.email }}</dd>
		</dl>
		<p>
			<a class="button" href="{% url 'accounts:edit_personal_info' %}">Editar</a>
		</p>
	</section>

	<section id="professional_info">
		<h1>Informações Profissionais</h1>
		<dl>
			<dt>Profissão</dt>
			<dd>{% firstof object.job_title 'Não configurado' %}</dd>

			<dt>Biografia</dt>
			<dd>{% firstof object.bio 'Não configurado' %}</dd>
		</dl>
		<p>
			<a class="button" href="{% url 'accounts:edit_professional_info' %}">Editar</a>
		</p>
	</section>

	<section id="notifications">
		<h1>Notificações</h1>
		<ul>
			<li class="{% if object.email_newsletter %}on{% endif %}">Receber novidades sobre o Brasil.com.vc.</li>
		</ul>
		<p>
			<a class="button" href="{% url 'accounts:edit_notifications' %}">Editar</a>
		</p>
	</section>

	<section id="security_settings">
		<h1>Segurança</h1>
		<dl>
			<dt>Senha</dt>
			<dd>******</dd>
		</dl>
		<p>
			<a class="button" href="{% url 'accounts:edit_security_settings' %}">Editar</a>
		</p>
	</section>

	<section id="user_address">
	{% with user.address as address %}
		<h1>Endereço</h1>
		{% if address %}
			<dl>
				<dt>Endereço</dt>
				<dd>{{ address.address_line1 }}</dd>

				{% if address.address_line2 %}
					<dt>Complemento</dt>
					<dd>{{ address.address_line2 }}</dd>
				{% endif %}

				<dt>Cidade</dt>
				<dd>{{ address.city.name }}</dd>

				<dt>Estado</dt>
				<dd>{{ address.state.name }}</dd>

				<dt>CEP</dt>
				<dd>{{ address.zipcode }}</dd>
			</dl>
		{% else %}
			<p>Endereço ainda não configurado.</p>
		{% endif %}
		<p>
			<a class="button" href="{% url 'accounts:edit_user_address' %}">Editar</a>
		</p>
	{% endwith %}
	</section>

	<section id="delete_user">
		<h1>Remover Conta</h1>
		<p>Apagar minha conta no Brasil.com.vc</p>
		<p>
			<a class="button danger" href="{% url 'accounts:delete_user' %}">Remover Conta</a>
		</p>
	</section>
</section>
{% endblock content_content %}
