{% extends "accounts/base.html" %}
{% load form_utils %}


{% block title %}
	Minha Conta - {{ view.title }}
{% endblock title %}


{% block body_classes %}
	{{ block.super }} edit
{% endblock body_classes %}


{% block content_content %}
	<section id="edit-links">
		<nav class="content-menu">
		<ul>
		{% for name, title, url in view.get_navigation %}
			<li>
				<a href="{{ url }}" class="{{ name }}
				{% if url == request.path %}active{% endif %}">
					{{ title }}
				</a>
			</li>
		{% endfor %}
		</ul>
		</nav>
	</section>

	<section class="page-content">
		<form method="POST" enctype="multipart/form-data">
			{% form_full form %}
			<button type="submit">Salvar Alterações</button>
		</form>
	</section>
{% endblock content_content %}
