{% extends 'accounts/base.html' %}
{% load form_utils %}


{% block title %}
	Login
{% endblock title %}


{% block body_classes %}
	{{ block.super }} auth login
{% endblock body_classes %}


{% block content_content %}
<section id="content">
	<h1>Login</h1>
	<a href="{% url 'social:begin' 'facebook' %}" class="button facebook">Facebook</a>
	<form method="POST">
		{% form_full form %}
		<button type="submit">Login</button>
	</form>
	<p>Você não tem uma conta? <a href="{% url 'signup' %}">Cadastre-se</a></p>
	<p><a href="{% url 'password_reset' %}">Esqueci minha senha</a>! :(</p>
</section>
{% endblock content_content %}
