{% extends 'accounts/base.html' %}
{% load form_utils %}


{% block title %}
	Esqueci minha senha!
{% endblock title %}


{% block body_classes %}
	{{ block.super }} edit password_reset_sent
{% endblock body_classes %}


{% block content_content %}
	<header class="page-title">
		<h1>Esqueci minha senha!</h1>
	</header>

	<section class="page-content">
		<p>Pronto, você pode fechar esta página e conferir o email que enviamos
		para você redefinir sua senha.</p>
	</section>
{% endblock content_content %}
