{% extends 'accounts/base.html' %}
{% load form_utils %}


{% block title %}
	Cadastro
{% endblock title %}


{% block body_classes %}
	{{ block.super }} auth signup
{% endblock body_classes %}


{% block content_content %}
	<header class="page-title">
		<h1>Cadastro</h1>
	</header>

	<section class="page-content">
		<form method="POST">
			<p><a href="{% url 'social:begin' 'facebook' %}" class="button facebook">Cadastrar com Facebook</a></p>
			<p class="or">ou</p>
			{% form_full form %}
			<button type="submit">Cadastrar</button>
		</form>
		<p>Já é cadastrado? Faça <a href="{% url 'accounts:login' %}">login</a>.</p>
	</section>
{% endblock content_content %}
