{% extends 'accounts/base.html' %}
{% load form_utils %}


{% block title %}
	Cadastro
{% endblock title %}


{% block body_classes %}
	{{ block.super }} auth signup
{% endblock body_classes %}


{% block content_content %}
<section id="content">
	<h1>Cadastro</h1>
	<a href="{% url 'social:begin' 'facebook' %}" class="button facebook">Facebook</a>
	<form method="POST">
		{% form_full form %}
		<button type="submit">Cadastrar</button>
	</form>
	<p>Já é cadastrado? Faça <a href="{% url 'login' %}">login</a>.</p>
</section>
{% endblock content_content %}
