body.accounts.edit

	#edit-links
		col(4)

		a
			button(color: transparent, hovercolor: transparent)
			color: color_text_medium
			display: block
			text-align: left

			&:hover
				color: color_text_darker

	.page-content
		col(8)
