{% extends 'emails/base.html' %}


{% block body %}
	<h1 style="color: #7fc241;">Olá, {{ user.get_short_name }}!</h1>
	<p>Clique no link secreto abaixo para redefinir sua senha:</p>
	<p style="text-align: center;">
		<a href="{{ reset_link }}" style="background: #69ae29; color: #fff; display: inline-block; font-size: 1em; padding: 1em; text-decoration: none; letter-spacing: 0.025em;">Redefinir Senha</a>
	</p>
	<p><small>...ou copie e cole o seguinte endereço no seu navegador:<br>{{ reset_link }}</small></p>
	<p>Se você não solicitou este email, por favor, ignore-o.</p>
{% endblock body %}
