body.projects #main-content

	// widgets/project.html
	.project
		col(4)

		figure
			overflow: hidden

			img
				transition: time_animation

		.short-description
			line-height: 1.5em
			height: @line-height * 4
			margin-bottom: 1em
			overflow: hidden

		&:hover
			box-shadow: inset 0 0 0 1px color_text_light

			figure img
				transform: scale(1.1)
