body.project-details #main-content

	.page-title
		col(4)
		float: right
		margin-bottom: 0 !important
		text-align: left

		h1
			font-size: 1.5em !important

	figure.img
		col(8)

		+ div
			col(4)

	.page-content#project-text
		col(8)

	.page-content#extra-info
		col(4)
