body.project-details

	#main-info
		col(8)

	#extra-info
		col(4)


	// Fixed sidebar
	&.past-header
		#extra-info
			position: fixed

			.short-description
			.tags
			.applications
			.owner
				display: none
