body.projects.project-list

	#home-banner figure
		height: 500px

		figcaption
			width: ks-grid-config['total-width']

	#project_search
		#projectsearchform_q
			col(10)

		button[type="submit"]
			col(2)
