body.project-details

	#main-content .page-title
		col(4)
		float: right
		text-align: left

		h1
			font-size: 1.5em !important

	figure.img
		col(8)

		+ div
			col(4)

	.page-content#project-text
		col(8)

	.page-content#extra-info
		col(4)

	.sidebar
		offset(8)
		margin-bottom: 0 !important
		position: fixed

		> *
			margin: 0 !important

			&:not(:last-child)
				margin-bottom: 2rem !important

	&.past-header
		#main-content > :not(.sidebar) > .page-title
		#main-content > :not(.sidebar) > .img + div
		#main-content > #extra-info
			display: none

		.sidebar
			display: block !important
