body.projects.project-list

	#home-banner figure
		height: 500px

		figcaption
			width: ks-grid-config['total-width']

	#project_search
		col(7)
		float: none

		#projectsearchform_q
			col(5)
			margin-right: 0
			overflow: visible

		button[type="submit"]
			col(2)
			margin-left: 0
