body.project-search

	#main-content
		margin-left: 0

	#search-results
		float: left

	#map
		offset(12)
		background: color_text_light
		fixed: 0 0 0 @margin-left
		margin-left: 0

		> div
			height: 100%  // Stretch map
