@import url('//fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,800,300italic,400italic,700italic,800italic')
@import url('//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,900,700italic,900italic')

@require 'kouto-swiss'
@require 'defs/*'


meyer-reset()
box-sizing-reset()


+media-query(only screen)
	@import 'res-common/*'

+media-query(breakpoint_smartphone)
	#main-header
	#messages
	#main-content
	#main-footer > section > div
		gs('fluid', 4, 17%)
	@import 'res-smartphone/*'

+media-query(breakpoint_tablet)
	#main-header
	#messages
	#main-content
	#main-footer > section > div
		gs('fluid', 8, 10%)
	@import 'res-tablet/*'

+media-query(breakpoint_desktop)
	#main-header
	#messages
	#main-content
	#main-footer > section > div
		gs('fixed', 12, 50px, 30px)
	@import 'res-desktop/*'
