body.projects.project-list

	#home-banner figure
		font-size: 0.9em
		height: 300px

		figcaption
			width: 100%

	#project_search
		col()

		#projectsearchform_q
			float: left
			width: 85%

		button[type="submit"]
			width: 15%
