body.projects.project-list

	#home-banner figure
		height: 300px

		figcaption
			width: 100%

	#project_search
		text-align: right

		#projectsearchform_q
			col()
			margin-bottom: 0.5em

		button[type="submit"]
			col(2)
			float: none
