body.projects.project-list

	#home-banner figure
		height: 400px

		figcaption
			col(5)
			overflow: visible

	#projectsearchform_q
		float: left
		width: 80%

	button[type="submit"]
		width: 20%

	li.project
		col(4)

		.short-description
			line-height: 1.5em
			height: @line-height * 3
			margin-bottom: 1em
			overflow: hidden
