@import 'defs/*'

body.accounts.edit.edit_dashboard

	#main-content

		section

			dl
				dt
					font-weight 400

				dd
					margin-bottom 1em

			ul
				li
					margin-bottom 1em

			p
				.button
					button(size: 'small')
