@import 'kouto-swiss'
@import 'defs/*'


body.accounts.login
body.accounts.signup

	h1
		margin-bottom 1rem !important
		text-align center

	form
		margin-bottom 2rem

	button
		width 100%

	p
		margin 0

	// GRID DEFINITION
	+media-query( breakpoint_desktop )
		#main-content > *
			col(5)
			offset(3.5)
