@import 'kouto-swiss'
@import 'defs/*'


body.accounts.delete-user

	#content
		margin-top 2rem !important
		margin-bottom 2rem !important

	h1
		margin-bottom 1rem !important
		text-align center

	form
		margin-bottom 2rem

		> a
			button(color_text_light, color_text_medium)

	button
		float right
		button(color_main4_default, color_main4_dark)


	// GRID DEFINITION
	+media-query( breakpoint_desktop )
		#main-content > *
			col(5)
			offset(3.5)
