footer#main-footer

	#footer-content
		p.logo
			col(2)

		#sitemap
			> div
				col(3)

			h1
				font-weight: bold
				margin-bottom: 1em

			a
				color: inherit

				&:hover
					color: color_main1_default
					text-decoration: none
