footer#main-footer

	#footer-content
		> div
			position: relative

		p.logo
			col(2)

		#sitemap
			> div
				col(3)

			h1
				font-weight: bold
				margin-bottom: 1em

			a
				color: inherit

				&:hover
					color: color_main1_default
					text-decoration: none

		p.copyright
			col(3)
			absolute: 0 0 false false
			color: color_text_medium
			font-size: font_size_s
