body
	margin-top: 76px !important

	#main-header
		height: @margin-top

		> div
			col()
			margin-left: 50%
			transform: translateX(-50%)

		.main-nav
			absolute: 50% 0px false false
			transform: translateY(-50%)

			li
				display: inline-block
				vertical-align: middle

			figure.user-picture
				size: 3.6rem
