body
	margin-top: 76px !important

	#main-header
		height: @margin-top

		.main-nav
			absolute: 50% 0px false false
			transform: translateY(-50%)

			li
				display: inline

			a
				button(color: transparent, hovercolor: rgba(black, 0.1))

				&:not(.proceed)
					color: color_text_dark
